body, html {
    padding: 0;
    margin: 0;
}

body {
    background: #fefefe;
    color: #222;
    margin: 4em 0;
}
a:link,
a:visited {
    color: #08c;
    text-decoration: none;
}

.page-content > *,
.backlink,
#page-header {
    max-width: 900px;
    padding: 0 15px;
    margin: 0 auto;
    margin-bottom: 1em;
}

.page-content > p,
.page-content li {
    text-align: justify;
    font-size: 16px;
    line-height: 23px;
}

.page-content li {
    margin: 2px 0 2px 15px;
}

blockquote p {
    padding-left: 1em !important;
    color: #aaa;
    font-style: italic;
    margin: 0 !important;
}

blockquote {
    margin-bottom: 1em !important;
}

blockquote p::before {
    content: "> ";
    font-style: normal;
    color: #aaa;
}

#post-content > pre {
    margin-bottom: 0 !important;
    overflow: auto;
}

.highlight pre {
    margin: 0;
    line-height: 20px;
}

hr {
    border: none;
    border-bottom: #ddd 1px solid;
}

input {
    border: #888 1px solid;
    padding: 3px 5px;
    background: #fff;
    color: #444;
}

button {
    border: #888 1px solid;
    padding: 3px 9px;
    background: #fff;
    color: #444;
    cursor: pointer;
}

/* Index */

#index-page .post-list {
    list-style: none;
    padding: 0;
}

#index-page .post-list .post {
    padding: 0;
    margin: 0 0 0 15px;
}

#index-page .post-list .post a::before {
    content: "- ";
    color: #222;
}

#index-page .post-list .post .post-date {
    color: #888;
    font-size: 0.8em;
}

#page-header .page-list {
    list-style: none;
    padding: 0;
}

#page-header .page-list .page {
    padding: 0;
    margin: 0;
    display: inline-block;
}

#page-header .page-list .page a:link,
#page-header .page-list .page a:visited {
    display: inline-block;
    color: #222;
    border: #222 3px solid;
    padding: 3px 8px;
    margin-right: 15px;
}

#page-header .page-list .page a:hover,
#page-header .page-list .page a:active {
    color: #fefefe;
    background: #222;
}

#page-header {
    border-bottom: #222 1px solid;
}

#post-page .page-meta {
    margin-top: 1em;
    padding-top: 5px;
    font-size: 0.8em;
    color: #888;
    text-align: right;
}

/* Code */
.hll { background-color: #ffffcc; }
.c { color: #8f5902; font-style: italic; }
.err { color: #a40000; border: 1px solid #ef2929; }
.g { color: #000000; }
.k { color: #204a87; font-weight: bold; }
.l { color: #000000; }
.n { color: #000000; }
.o { color: #ce5c00; font-weight: bold; }
.x { color: #000000; }
.p { color: #000000; font-weight: bold; }
.cm { color: #8f5902; font-style: italic; }
.cp { color: #8f5902; font-style: italic; }
.c1 { color: #8f5902; font-style: italic; }
.cs { color: #8f5902; font-style: italic; }
.gd { color: #a40000; }
.ge { color: #000000; font-style: italic; }
.gr { color: #ef2929; }
.gh { color: #000080; font-weight: bold; }
.gi { color: #00A000; }
.go { color: #000000; font-style: italic; }
.gp { color: #8f5902; }
.gs { color: #000000; font-weight: bold; }
.gu { color: #800080; font-weight: bold; }
.gt { color: #a40000; font-weight: bold; }
.kc { color: #204a87; font-weight: bold; }
.kd { color: #204a87; font-weight: bold; }
.kn { color: #204a87; font-weight: bold; }
.kp { color: #204a87; font-weight: bold; }
.kr { color: #204a87; font-weight: bold; }
.kt { color: #204a87; font-weight: bold; }
.ld { color: #000000; }
.m { color: #0000cf; font-weight: bold; }
.s { color: #4e9a06; }
.na { color: #c4a000; }
.nb { color: #204a87; }
.nc { color: #000000; }
.no { color: #000000; }
.nd { color: #5c35cc; font-weight: bold; }
.ni { color: #ce5c00; }
.ne { color: #cc0000; font-weight: bold; }
.nf { color: #000000; }
.nl { color: #f57900; }
.nn { color: #000000; }
.nx { color: #000000; }
.py { color: #000000; }
.nt { color: #204a87; font-weight: bold; }
.nv { color: #000000; }
.ow { color: #204a87; font-weight: bold; }
.w { color: #f8f8f8; text-decoration: underline; }
.mf { color: #0000cf; font-weight: bold; }
.mh { color: #0000cf; font-weight: bold; }
.mi { color: #0000cf; font-weight: bold; }
.mo { color: #0000cf; font-weight: bold; }
.sb { color: #4e9a06; }
.sc { color: #4e9a06; }
.sd { color: #8f5902; font-style: italic; }
.s2 { color: #4e9a06; }
.se { color: #4e9a06; }
.sh { color: #4e9a06; }
.si { color: #4e9a06; }
.sx { color: #4e9a06; }
.sr { color: #4e9a06; }
.s1 { color: #4e9a06; }
.ss { color: #4e9a06; }
.bp { color: #3465a4; }
.vc { color: #000000; }
.vg { color: #000000; }
.vi { color: #000000; }
.il { color: #0000cf; font-weight: bold; }